<a href="https://colab.research.google.com/github/jasmine-schoch/goji-data-analysis/blob/main/Goji_data_compilation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [104]:
#Necessary packages:
!pip install --upgrade -q gspread

import gspread
import pandas as pd
from google.colab import auth
from google.auth import default
auth.authenticate_user()
creds, _ = default()

In [105]:
Final = pd.DataFrame()
Final.index = ['Total', 'Carbon Emmisions', "Water Usage","Ethical Sourcing", "Labor Rights", "Transparency & Policy", "DEI"]
#Sheets file containing all of the links to individual company's information:
data_url = 'https://docs.google.com/spreadsheets/d/1oEaZVl3YF6JCxS63wsk10HO2dCVFs_CyfZ-cmlMFU0c/edit#gid=0'.replace("/edit#gid=", "/export?format=csv&gid=")
df2 = pd.read_csv(data_url, header = None)

In [106]:
#Creating final table of data from all the companies:
for x in range(len(df2)): 
  x = df2.iloc[x,1]
  urlcur = x.replace("/edit#gid=", "/export?format=csv&gid=")
  dfcur = pd.read_csv(urlcur, header = None)
  total = dfcur.iloc[68,9]
  carbon = dfcur.iloc[84,9]
  water = dfcur.iloc[85,9]
  sourcing = sum(map(int,dfcur.iloc[[80,81],9]))
  labor = sum(map(int,dfcur.iloc[[71,72,73,76,79,92],9]))
  trans = sum(map(int,dfcur.iloc[[69,75,83,87,89,91,92],9]))
  dei = dfcur.iloc[90,9]
  Final[dfcur.iloc[2,2]] = [total, carbon, water, sourcing, labor, trans, dei]

In [107]:
Final

,A&F,Adidas Group,American Eagle Outfitters,Allbirds,URBN,Forever 21,Patagonia,Reformation,SHEIN,Target
Total,-2,25,-4,15,3,-13,27,47,5,1
Carbon Emmisions,1,0,0,1,0,0,0,1,0,1
Water Usage,0,0,0,0,0,0,0,3,0,0
Ethical Sourcing,1,4,0,2,0,2,10,10,5,3
Labor Rights,-7,6,1,2,1,-10,-2,11,0,-6
Transparency & Policy,-7,5,0,10,2,-10,9,20,0,-9
DEI,0,7,0,0,5,0,0,5,0,0

In [108]:
#Saving final table to json
#Don't forget to export file from sidebar!!
Final.to_json('file.json', orient = 'split', compression = 'infer', index = 'true')

In [109]:
#Visual table:
Final.to_csv("first10.csv")